<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184543684394-e8on94died9ekep38rsnc57ljk8m5prn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184543684394-e8on94died9ekep38rsnc57ljk8m5prn</string>
	<key>API_KEY</key>
	<string>AIzaSyAcEm61XrBv6knfrTc_IDjFw560y8YAwsY</string>
	<key>GCM_SENDER_ID</key>
	<string>184543684394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Octavian.TryAuth</string>
	<key>PROJECT_ID</key>
	<string>tryauth-11f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>tryauth-11f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184543684394:ios:3cb97f3cb9b9f2599ee053</string>
</dict>
</plist>